.contrainer-filtro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    grid-template-areas: ". . . .";
}

nz-option {
    width: 100%;
}

th {
    background-color: #5dc1d1 !important;
}